*{
    margin:0;
    box-sizing:border-box;
    padding:0;
    Font-family:sans-serif;
}


body {
    background-color: lightgray;
}



nav {
    height: 100px;
    background-color: lightcoral;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid black;

}
nav a{
    flex-grow: 1;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 20px;
    display: block;
}
nav a:hover {
    text-decoration: underline;
}
nav img{
    width: 100px;
    flex-grow: 0;
    flex-shrink: 0;
}

h1  {
    text-align: center;
    grid-column: span 2;
    font-size: 50px;
    margin-bottom: 50px;
}

main {
    background-color: lightgray;
    height: auto;
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 800px;
    margin: auto;

}

article {
    font-size: 20px;
}
#vareBilde {
    width: 200px;
}

@media(max-width: 800px){
    main {
        grid-template-columns: 1fr;
    }
    nav a{
        display: none;
    }
    nav {
        justify-content: center;
    }
    h1 {
        grid-column: span 1;
    }
}


footer {
    margin: auto;
    width: 100%;
    height: 200px;
}

footer div {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 200px;
    margin: auto;
}

footer img{
    position: absolute;
    left: 0;
    width: 180px;
    height: 200px;
    display: block;
    top: 0;


    animation: ani 8s infinite;
}


@keyframes ani {
    0% {
        left: 25px;
        transform: scaleX(1);
        content: url("../Bilder/mattiHandelEn.png");
    }
    5% {
        content: url("../Bilder/mattiHandelToEn.png");
    }
    10% {
        content: url("../Bilder/mattiHandelEn.png");
    }
    15% {
        content: url("../Bilder/mattiHandelToEn.png");
    }
    20% {
        content: url("../Bilder/mattiHandelEn.png");
    }
    25% {
        content: url("../Bilder/mattiHandelToEn.png");
    }
    30% {
        content: url("../Bilder/mattiHandelEn.png");
    }
    35% {
        content: url("../Bilder/mattiHandelToEn.png");
    }
    40% {
        content: url("../Bilder/mattiHandelEn.png");
    }
    45% {
        content: url("../Bilder/mattiHandelToEn.png");
    }


    49% {
        transform: scaleX(1);
        content: url("../Bilder/mattiHandelEn.png");
    }
    50% {
        left: calc( 100% - 225px);
        transform: scaleX(-1);
        content: url("../Bilder/mattiHandelTo.png");
    }
    55% {
        content: url("../Bilder/mattiHandelEnTo.png");
    }
    60% {
        content: url("../Bilder/mattiHandelTo.png");
    }
    65% {
        content: url("../Bilder/mattiHandelEnTo.png");
    }
    70% {
        content: url("../Bilder/mattiHandelTo.png");
    }
    75% {
        content: url("../Bilder/mattiHandelEnTo.png");
    }
    80% {
        content: url("../Bilder/mattiHandelTo.png");
    }
    85% {
        content: url("../Bilder/mattiHandelEnTo.png");
    }
    90% {
        content: url("../Bilder/mattiHandelTo.png");
    }
    95% {
        content: url("../Bilder/mattiHandelEnTo.png");
    }
    99% {
        transform: scaleX(-1);
        content: url("../Bilder/mattiHandelTo.png");
    }
    100% {
        left: 25px;
        transform: scaleX(1);
        content: url("../Bilder/mattiHandelEn.png");
    }
}